body{
    justify-content: center;
    align-items: center !important;
}

.column {
  float: auto;
  width: 80%;
  padding: 10px;
  height: 300px;
}

table{
    width: 100%;
    border: none;
}

tr, td{
    width: 50px !important;
}

a{
    background-color: blue;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    position: center !important;
}

a:hover{
    background-color: green;
     border: none;
     border-radius: 10px;
}